/* Basic styles to be used with all devices and under all conditions */

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul,
table, tr, td, th, col, colgroup {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}

:root {
    --green: #7FB185;
    --main-color: #F9F6E7;
}

html {
    background-color: var(--main-color);
}

article {
    height: 50rem;
}

a {
    text-decoration: none;
}

#preloader{
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #preloader img{
    height: 30%;
    width: 18%;
  }

/*Header Design*/
header {
    background-color: var(--green);
}

.navbar-container {
    display: flex;
    flex-direction: row;
}

.brand {
    display: flex;
    flex-grow: 2;
    position: relative;
    justify-content: center;
}

.brand h1 {
    font-size: 20px;
}

.name {
    padding-top: 35px;
}

.logo {
    width: 120px;
    height: 90px;
}

.navbar {
    flex-grow: 5;
    position: relative;
    top: 2.3em;
    text-align: right;
}

.navbar a{
    margin-left: 5.5%;
    position: relative;
}

.navbar a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 2px;
    width: 0;
    background-color: white;
    transition: .3s;
    border-radius: 27%;
}

.navbar a:hover::before{
    width: 100%;
}

.navbar a:link,.navbar a:visited {
    color: black;
}

.navbar a:hover,.navbar a:active {
    color: white;
}

.icon {
    position: relative;
    text-align: center;
    top: .9em;
    font-size: 30px;
    flex-grow: 1;
    cursor: pointer;
}

.icon a:link,
.icon a:visited {
    color: black;
}

.icon a:hover,
.icon a:active {
    color: white;
}

.icon i:link,
.icon i:visited,
.contact-icon i:link,
.contact-icon i:visited {
    color: black;
}

.icon i:hover,
.icon i:active,
.contact-icon i:hover,
.contact-icon i:active {
    color: white;
}

.contact-icon {
    cursor: pointer;
}

#bars {
    display: none;
}

#search-form {
    position: fixed;
    top: -110%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
    padding: 0 1rem;
}

#search-form #search-box {
    width: 20rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    padding: 1rem 0;
    color: #fff;
    font-size: 25px;
    background: none;
    text-transform: none;
}

#search-box::placeholder {
    color: #fff;
}

#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}

#search-form label:hover {
    color: var(--green);
}

#search-form #close {
    position: absolute;
    right: 2%;
    top: 14%;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

/*cart thingy*/

#cart {
    width: 100%; /* Adjust width for smaller screens */
    padding: 10px 10px;
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    border: 1px solid #c2ccc4;
    border-radius: 2px;
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    border: 1px solid #c2ccc4;
    border-radius: 2px;
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    border: 1px solid #c2ccc4;
    border-radius: 2px;
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    border: 1px solid #c2ccc4;
    border-radius: 2px;
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 15px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
    padding-left: 5%;
    padding-top: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
    border-radius: 2px;
}

#subtotal {
    font-family: Play;
    width: 50%;
    margin-bottom: 30px;
    padding: 2% 5%;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #c1c3c1;
    padding: 10px;
    font-size: 13px;
}

#cancel:hover{
    color: red;
}

#cancel:active{
    color: rgb(120, 0, 0);
}

.cartEmpty{
    margin-bottom: 20px;
}

.cartEmpty div{
    display: flex;
    justify-content: center;
}

.emptyPicture{
    margin-bottom: 10px;
}

.toMenu{
    background-color: #088178;
    padding: 10px;
    color: white;
}

.toMenu:hover, .normal:hover{
    transform: scale(1.07);
    transition: .3s;
}

/*Footer*/

footer{
    background-color: var(--green);
    display: flex;
    overflow: hidden;
    padding: 40px 0 15px 0;
}

.column{
    display: block;
    flex-grow: 3;
    flex-shrink: 1;
    position: relative;
    top: 20px;
    left: 10%;
}

.column h2 {
    font-size: 30px;
}

.column1,
.column2 {
    flex-grow: 1;
    text-align: center;
}

.contact-icon {
    font-size: 35px;
}

.column1 div,
.column2 div {
    margin-bottom: 25px;
}

.column1 a:link,.column1 a:visited {
    color: black;
}

.column1 a:hover,.column1 a:active {
    color: white;
}

@media (max-width: 920px) {
    .brand {
        flex-grow: 10;
        justify-content: left;
    }

    #bars {
        display: inline;
    }

    .navbar {
        height: 0;
        width: 100%;
        position: absolute;
        top: 12%;
        background-color: var(--green);
        z-index: 1;
        overflow-x: hidden;
        transition: 1s;
    }

    .navbar a{
        display: block;
        padding: 15px;
        border: 1px solid black;
        margin: 10px 10px 10px 10px;
        justify-content: center;
        font-size: 20px;
        text-align: center;
        background-color: var(--main-color);
    }

    .icon {
        float: right;
    }

    /*section*/
    section {
        transition: 1s;
    }

    /*footer*/
    .column h2 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {

    /*section*/
    #cart-add{
        flex-direction: column;
    }

    #subtotal{
        width: 100%;
    }
    
    /*footer*/
    .column1 {
        position: relative;
        right: 10px;
    }

    .column2 {
        position: relative;
        right: 10px;
    }
}
