@charset "uft-8";

/* Basic styles to be used with all devices and under all conditions */

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul,
table, tr, td, th, col, colgroup {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}


:root{
    --green: #7FB185;
    --main-color: #F9F6E7;
}

html{
    background-color:  var(--main-color);
}

a{
    text-decoration: none;
}

#preloader{
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

#preloader img{
    height: 30%;
    width: 18%;
}

/*Header Design*/
header{
    background-color: var(--green);
}

.navbar-container{
    display: flex;
    flex-direction: row;
}

.brand{
    display: flex;
    flex-grow: 2;
    position: relative;
    justify-content: center;
}

.brand h1{
    font-size: 20px;
}

.name{
    padding-top: 35px;
}

.logo{
    width: 120px;
    height: 90px;
}

.navbar{
    flex-grow: 5;
    position: relative;
    top: 2.3em;
    text-align: right;
}

.navbar a{
    margin-left: 5.5%;
    position: relative;
}

.navbar a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 2px;
    width: 0;
    background-color: white;
    transition: .3s;
    border-radius: 27%;
}

.navbar a:hover::before{
    width: 100%;
}

.navbar a:link,.navbar a:visited {
    color: black;
}

.navbar a:hover,.navbar a:active {
    color: white;
}

.icon{
    position: relative;
    text-align: center;
    top: .9em;
    font-size: 30px;
    flex-grow: 1;
    cursor: pointer;
}

.icon a:link, .icon a:visited{
    color: black;
}

.icon a:hover, .icon a:active{
    color: white;
}

.icon i:link, .icon i:visited, .contact-icon i:link,
.contact-icon i:visited{
    color: black;
}

.icon i:hover, .icon i:active, .contact-icon i:hover,
.contact-icon i:active{
    color: white;
}

#bars{
    display: none;
}

#search-form{
    position: fixed;
    top: -110%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.8);
    z-index: 2;
    padding: 0 1rem;
}

#search-form #search-box{
    width: 20rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    padding: 1rem 0;
    color: #fff;
    font-size: 25px;
    background: none;
    text-transform: none;
}

#search-box::placeholder{
    color: #fff;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}

#search-form label:hover{
    color: var(--green);
}

#search-form #close{
    position: absolute;
    right: 2%;
    top: 14%;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

/*section*/
div#FAQ, div#questions, div#questions details, div#questions p, div#questions details > summary {
    font-family: 'Courier New', Courier, monospace;
}

div#FAQ {
    padding:2.5%;
    font-size: 60px;
    text-align: center;
}

div#questions {
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
}

div#questions details {
    display: flex;
    align-items: center;
    font-size: 30px; 
    font-weight: bold;          
    background-color:#7FB185;
    border-radius: 10px;
    padding: 2% 0;
    margin-bottom: 30px;;
}

div#questions p {
    font-size:25px;
    margin-top:3%;
    padding-left:3%;
    background-color: #F9F6E7;
    padding-top:10px;
    padding-bottom:10px;
    font-weight:900;
    border: 20px solid #7FB185;
}

#questions details summary {
    list-style-type: none;
}

summary span {
    float: right;
    position: relative;
    right: 1%;
    bottom: 5px;
}

.questionbox{
    margin:5%;
}


.questionbox h2{
    font-size: 32px;
    padding-bottom: 5px;
}

.questionbox p{
    margin-bottom:20px;
    font-size: 20px;
}

#question_form {
    padding: 50px 0 50px 10px;
    background-color:#7FB185;
    border-radius:20px;
    width: 65%;
}

label {
    margin-left:30px;
    font-size:25px;
    display:block;
}

#user_email {
    width: 50%;
    height: 30px;
    font-size: 25px;
    margin-left:30px;
    padding:7px;
    border:none;
    transition: width height 2s;
}

#user_email:focus {
    width: 48%;
    height: 40px;
}

#Customer_Questions {
    margin: 2% 0 0 30px;
    width: 70%;
    height:250px;
    font-size:30px;
    padding:10px;                    
    transition: margin-left width height 5s;
}

textarea#Customer_Questions:focus {
    margin-left:10px;
    width: 570px;
    height: 270px;
}

.button{
    display: flex;
    justify-content: center;
}

#submit_button {
    margin-top: 10px; 
    padding: 10px 15px;
    width:100px;
    font-size:20px;
    border:none;
    border-radius:10px;
    background-color:#F9F6E7;
}

button#submit_button:hover {
    background-color:#7d7a6c;
    color:#F9F6E7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button#submit_button:active {
    background-color:#545248;
    box-shadow: none;
}

/*Footer*/

footer{
    background-color: var(--green);
    display: flex;
    overflow: hidden;
    padding: 40px 0 15px 0;
}

.column{
    display: block;
    flex-grow: 3;
    flex-shrink: 1;
    position: relative;
    top: 20px;
    left: 10%;
}

.column h2 {
    font-size: 30px;
}

.column1,
.column2 {
    flex-grow: 1;
    text-align: center;
}

.contact-icon {
    font-size: 35px;
}

.column1 div,
.column2 div {
    margin-bottom: 25px;
}

.column1 a:link,.column1 a:visited {
    color: black;
}

.column1 a:hover,.column1 a:active {
    color: white;
}

@media (max-width: 920px){
    .brand{
        flex-grow: 10;
        justify-content: left;
    }

    #bars{
        display: inline;
    }

    .navbar{
        height: 0;
        width: 100%;
        position: absolute;
        top: 12%;
        background-color: var(--green);
        z-index: 1;
        overflow-X: hidden;
        transition: 1s;
    }

    .navbar a{
        display: block;
        padding: 15px;
        border: 1px solid black;
        margin: 10px 10px 10px 10px;
        justify-content: center;
        font-size: 25px;
        text-align: center;
        background-color: var(--main-color);
    }

    .icon{
        float: right;
    }

/*seciton*/
    section{
        transition: 1s;
    }

    div#questions details {
        font-size: 20px;
    }

/*footer*/
    .column h2 {
        font-size: 20px;
    }
}

@media (max-width: 480px){

    div#questions details {
        font-size: 16px;
        word-spacing: 0;
    }

/*footer*/
    .column{
        margin-right: 6.5%;
    }

    .column1{
        position: relative;
        right: 10px;
    }
    .column2{
        position: relative;
        right: 10px;
    }
}

