@charset "uft-8";

/* Basic styles to be used with all devices and under all conditions */

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul,
table, tr, td, th, col, colgroup {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}


:root{
    --green: #7FB185;
    --main-color: #F9F6E7;
}

html{
    background-color:  var(--main-color);
}

a{
    text-decoration: none;
}

#preloader{
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

#preloader img{
    height: 30%;
    width: 18%;
}

/*Header Design*/
header{
    background-color: var(--green);
}

.navbar-container{
    display: flex;
    flex-direction: row;
}

.brand{
    display: flex;
    flex-grow: 2;
    position: relative;
    justify-content: center;
}

.brand h1{
    font-size: 20px;
}

.name{
    padding-top: 35px;
}

.logo{
    width: 120px;
    height: 90px;
}

.navbar{
    flex-grow: 5;
    position: relative;
    top: 2.3em;
    text-align: right;
}

.navbar a{
    margin-left: 5.5%;
    position: relative;
}

.navbar a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 2px;
    width: 0;
    background-color: white;
    transition: .3s;
    border-radius: 27%;
}

.navbar a:hover::before{
    width: 100%;
}

.navbar a:link,.navbar a:visited {
    color: black;
}

.navbar a:hover,.navbar a:active {
    color: white;
}

.icon{
    position: relative;
    text-align: center;
    top: .9em;
    font-size: 30px;
    flex-grow: 1;
    cursor: pointer;
}

.icon a:link, .icon a:visited{
    color: black;
}

.icon a:hover, .icon a:active{
    color: white;
}

.icon i:link, .icon i:visited, .contact-icon i:link,
.contact-icon i:visited{
    color: black;
}

.icon i:hover, .icon i:active, .contact-icon i:hover,
.contact-icon i:active{
    color: white;
}

#bars{
    display: none;
}

#search-form{
    position: fixed;
    top: -110%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.8);
    z-index: 2;
    padding: 0 1rem;
}

#search-form #search-box{
    width: 20rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    padding: 1rem 0;
    color: #fff;
    font-size: 25px;
    background: none;
    text-transform: none;
}

#search-box::placeholder{
    color: #fff;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}

#search-form label:hover{
    color: var(--green);
}

#search-form #close{
    position: absolute;
    right: 2%;
    top: 14%;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

/*section*/
html {
    scroll-behavior: smooth;                
    background-size: 100%;
}


div#enjoyRewards {
    background-image: url("/Image/enjoy_rewards.jpg");  /*relative path ../Image/enjoy_rewards.jpg*/
    padding: 10% 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

h1#becomeAMember {   
    padding-top:20px;            
    font-size: 80px;
    font-family:'Kiona';
    color:black;
    background-color:#ffffff;
    height: 100%;
    text-align:center;
}

section#membershipHeading {
    padding:0;
    padding-top:20px;
    display: block;
    text-align:center;
    background-color:#ffffff;
    font-family:'Kiona','Courier New', Courier, monospace;
    font-weight: 1000;
    font-size:30px;
    color: black;
    
}

span#offers_n_rewards {
    font-weight:bolder;
    font-size: 40px;
}

button#joinMember {
    margin-bottom:20px;
    padding: 10px;
    height: 100px;
    width: 300px;
    font-family:'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size:30px;
    border-style:none;
    background-color: #0fc0a2;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

button#joinMember:hover {
    background-color: #198170;
    box-shadow: 0 4px 8px 0 rgba(10, 88, 58, 0.2), 0 6px 20px 0 rgba(119, 15, 15, 0.19);
}

div#perks {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-bottom:30px;
    background-color: #ffffff;
    display:flex;
}

div#perks h2 {
    margin: 30px;
    font-family:'Kiona','Courier New', Courier, monospace;
    font-weight:bolder;
    font-size: 30px;
}

div#perks section {
    font-family:'Kiona','Courier New', Courier, monospace;
    display:block;
    height: 650px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
.content{
    display: flex;
    flex-grow: 5;
    padding: 0 5%;
}

.content p{
    flex-grow: 3;
    font-size:35px;
    padding-top: 10%;
}

#birthdayImage, #bonusImage, #happyImage, #referralImage{
    flex-grow: 2;
    top: 50px;
    width: 30%;
}

section h3 {
    text-align: center;
    padding-top:5%;
    padding-bottom:3%;
    font-size: 75px;
    font-weight:bolder;
}

section#birthday, section#bonus {
    background-color:#e0d1d1c1;
}

#formRegister{
    margin: 5%;
}

form{
    display:flex;
    align-items: center;
    justify-content: center;
}

img#formImage {
    margin-top:8px;
    margin-left:20px;
    width: 50%;
    height: 700px;
    border-radius: 10px 0px 0px 10px;       
}

fieldset {
    border-radius: 0px 10px 10px 0px;
    background-color:#ffffff;
    border-style: none;
    width: 100%;
    height: 700px;
}

legend{
    text-align: center;
    font-size:150%;
    font-family:'Kiona','Courier New', Courier, monospace;
    font-weight: bold;
}

#details input{
    width: 100%;    
}

label {
    font-weight: bold;
    font-family:'Kiona','Courier New', Courier, monospace;
}

#name, #IC, #phone, #email, #password {
    border-radius: 3px;
    border-style:none;
    height:30px;
    width: 500px;
}

#termsNcondition {
    margin-top:40px;
    font-size:15px;
}

#details .submitButton {
    margin-top: 15%;
    margin-left: 30%;
    margin-bottom: 10%;
    padding:15px;
    width: 50%;
    border-style:none;
    border-radius: 10px;
    font-size: 25px;
    font-family:monospace;
}

.submitButton:hover {
    background-color:  rgba(52, 21, 59, 0.156)
}

h2#registerNow {
    text-align: justify;
    font-family:'Kiona','Courier New', Courier, monospace;
    padding:20px;
    padding-top:10%;
    padding-bottom:20px;
    font-size: 40px;
}

p#becomeAMember {
    text-align: center;
    font-family:'Kiona','Courier New', Courier, monospace;
    font-weight:900;
}

input {
    background-color: rgba(123, 105, 127, 0.156);
    box-shadow: 0 4px 8px 0 rgba(10, 88, 58, 0.2), 0 6px 20px 0 rgba(119, 15, 15, 0.19);
}

.registerComfirm #showPassword{
    width: 20px;
}
/*Footer*/

footer{
    background-color: var(--green);
    display: flex;
    overflow: hidden;
    padding: 40px 0 15px 0;
}

.column{
    display: block;
    flex-grow: 3;
    flex-shrink: 1;
    position: relative;
    top: 20px;
    left: 10%;
}

.column h2 {
    font-size: 30px;
}

.column1,
.column2 {
    flex-grow: 1;
    text-align: center;
}

.contact-icon {
    font-size: 35px;
}

.column1 div,
.column2 div {
    margin-bottom: 25px;
}

.column1 a:link,.column1 a:visited {
    color: black;
}

.column1 a:hover,.column1 a:active {
    color: white;
}

@media (max-width: 920px){
    .brand{
        flex-grow: 10;
        justify-content: left;
    }

    #bars{
        display: inline;
    }

    .navbar{
        height: 0;
        width: 100%;
        position: absolute;
        top: 12%;
        background-color: var(--green);
        z-index: 1;
        overflow-X: hidden;
        transition: 1s;
    }

    .navbar a{
        display: block;
        padding: 15px;
        border: 1px solid black;
        margin: 10px 10px 10px 10px;
        justify-content: center;
        font-size: 25px;
        text-align: center;
        background-color: var(--main-color);
    }

    .icon{
        float: right;
    }

/*aside*/
    aside{
        transition: 1s;
    }


/*footer*/
    .column h2 {
        font-size: 20px;
    }
}

@media (max-width: 480px){

/*footer*/
    .column{
        margin-right: 6.5%;
    }

    .column1{
        position: relative;
        right: 10px;
    }
    .column2{
        position: relative;
        right: 10px;
    }
}